
.vs/TestConsoleApp3/v16/.suo
bin/Debug/TestConsoleApp3.exe
bin/Debug/TestConsoleApp3.pdb
obj/Debug/TestConsoleApp3.exe
obj/Debug/TestConsoleApp3.pdb
.vs/TestConsoleApp3/v16/.suo
bin/Debug/TestConsoleApp3.exe
bin/Debug/TestConsoleApp3.pdb
obj/Debug/TestConsoleApp3.csprojAssemblyReference.cache
obj/Debug/TestConsoleApp3.exe
obj/Debug/TestConsoleApp3.pdb
