
.vs/TestConsoleApp3/v16/.suo
bin/Debug/TestConsoleApp3.exe
bin/Debug/TestConsoleApp3.pdb
obj/Debug/TestConsoleApp3.exe
obj/Debug/TestConsoleApp3.pdb
obj/Debug/TestConsoleApp3.pdb
obj/Debug/TestConsoleApp3.exe
obj/Debug/TestConsoleApp3.csprojAssemblyReference.cache
obj/Debug/TestConsoleApp3.csproj.FileListAbsolute.txt
obj/Debug/TestConsoleApp3.csproj.CoreCompileInputs.cache
bin/Debug/TestConsoleApp3.pdb
bin/Debug/TestConsoleApp3.exe
.vs/TestConsoleApp3/v16/Server/sqlite3/storage.ide-wal
.vs/TestConsoleApp3/v16/Server/sqlite3/storage.ide-shm
.vs/TestConsoleApp3/v16/Server/sqlite3/storage.ide
.vs/TestConsoleApp3/v16/Server/sqlite3/db.lock
.vs/TestConsoleApp3/v16/.suo
obj/Debug/TestConsoleApp3.pdb
obj/Debug/TestConsoleApp3.exe
obj/Debug/TestConsoleApp3.csprojAssemblyReference.cache
obj/Debug/TestConsoleApp3.csproj.FileListAbsolute.txt
obj/Debug/TestConsoleApp3.csproj.CoreCompileInputs.cache
bin/Debug/TestConsoleApp3.pdb
bin/Debug/TestConsoleApp3.exe
.vs/TestConsoleApp3/v16/.suo
*.pdb
.vs/TestConsoleApp3/v16/.suo
bin/Debug/TestConsoleApp3.exe
bin/Debug/TestConsoleApp3.pdb
obj/Debug/TestConsoleApp3.csproj.CoreCompileInputs.cache
obj/Debug/TestConsoleApp3.csproj.FileListAbsolute.txt
obj/Debug/TestConsoleApp3.csprojAssemblyReference.cache
obj/Debug/TestConsoleApp3.exe
obj/Debug/TestConsoleApp3.pdb
*.exe
.vs/TestConsoleApp3/v16/.suo
bin/Debug/TestConsoleApp3.exe
bin/Debug/TestConsoleApp3.pdb
obj/Debug/TestConsoleApp3.csproj.CoreCompileInputs.cache
obj/Debug/TestConsoleApp3.csproj.FileListAbsolute.txt
obj/Debug/TestConsoleApp3.csprojAssemblyReference.cache
obj/Debug/TestConsoleApp3.exe
obj/Debug/TestConsoleApp3.pdb
obj/Debug/TestConsoleApp3.pdb
obj/Debug/TestConsoleApp3.exe
obj/Debug/TestConsoleApp3.csprojAssemblyReference.cache
bin/Debug/TestConsoleApp3.pdb
bin/Debug/TestConsoleApp3.exe
.vs/TestConsoleApp3/v16/.suo
